{% extends 'base.twig' %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>List subpage</th>
            <th>Page size</th>
            <th>Category</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

{% endblock %}
